@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #1e1e1e;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

button {
  font-family: inherit;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .board {
    width: 100%;
  }
  .flip-box {
    width: 20vw;
    height: 20vw;
  }
}